<div class=" portfolio-card row">
  <div class="portfolio-hero careTypes">
  </div>
  <div class="portfolio-data-container">
    <h3>Improving Pre-Authorization & Referral submission workflow</h3>
    <p>What happens when one on one research sessions, a design sprint, and external partners come together to
      co-design their ideal workflow for pre-authorization & referral submissions?</p>
    <a href="">Read</a>

  </div>
</div>

<div class="portfolio-card row">
  <div class="portfolio-hero callCenter">
  </div>
  <div class="portfolio-data-container">
    <h3>Working with internal stakeholders to improve customer service workflows</h3>
    <p>Working with external partners, engineering, and leadership to establish user-centric design workflows
      and
      guidelinesa comprehensive design system based on Atomic Design Principles
      by
      Brad Frost.</p>
    <a href="">Read</a>

  </div>
</div>

<div class="portfolio-card row">
  <div class="portfolio-hero establish">
  </div>
  <div class="portfolio-data-container">
    <h3>Establishing workflows & Design Systems</h3>
    <p>Working with external partners, engineering, and leadership to establish user-centric design workflows
      and
      guidelines while simutaniously deploying a comprehensive design system based on Atomic Design Principles
      by
      Brad Frost.</p>
    <a href="">Read</a>
  </div>
</div>
